/* Customize the styles as needed */
.resetPasswordContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .resetPasswordHeading {
    text-align: center;
  }
  
  .resetPasswordForm {
    display: flex;
    flex-direction: column;
  }
  
  .resetPasswordInput {
    margin-bottom: 15px;
  }
  
  .resetPasswordInput label {
    margin-bottom: 5px;
  }
  
  .resetPasswordBtn {
    background-color: #28a745;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  