.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
   
  }
  
  .formcontrol{
    width: 100%;
    display: flex;
  }
  
  .logo-items{
    width: 100%;
    display: flex;
    text-align: start;
  }
  
  .loginForm > div,
  .signUpForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  
  .loginForm > div > input,
  .signUpForm > div > input {
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
  }
  .passInput{
    width: 100%;
  }
  
  .loginForm > div > svg,
  .signUpForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  
  .loginForm > a {
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 0.8vmax "Gill Sans";
  }
  
  .loginForm > a:hover {
    color: black;
  }
  .loginBtn,
  .signUpBtn {
    border: none;
    color: rgb(73, 72, 72);
    font: 300 0.9vmax "Roboto";
    width: 100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    /* outline: none; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  .loginBtn:hover,
  .signUpBtn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(179, 66, 46);
  }