.confirmOrderPage {
    display: grid;
    grid-template-columns: 6fr 3fr;
    margin-bottom: 2rem;

  }
  .confirmOrderPage > div:first-child{
    height: 100vh;
  }
  .confirmOrderPage > div:last-child {
    border-left: 1px solid rgba(0, 0, 0, 0.247);
  }
  
  .confirmshippingArea {
    padding: 1vmax 5vmax;
    padding-bottom: 0%;
  }
  
  .confirmshippingArea > p {
    font: 400 1.8vmax "Roboto";
  }
  
  .confirmshippingAreaBox,
  .confirmCartItemsContainer {
    margin: 2vmax;
  }
  
  .confirmshippingAreaBox > div {
    display: flex;
    align-items: center;
    margin: 1vmax 0;
  }
  
  .confirmshippingAreaBox > div > p {
    font: 400 1vmax "Roboto";
    color: black;
  }
  .confirmshippingAreaBox > div > span {
    margin: 0 1vmax;
    font: 100 1vmax "Roboto";
    color: #575757;
  }
  
  .confirmCartItems > p {
    font: 400 1.8vmax "Roboto";
  }
  
  .confirmCartItems {
    padding: 0 5vmax;
  }
  
  .confirmCartItemsContainer {
    max-height: 20vmax;
    overflow-y: auto;
    margin-bottom: 2rem;
  }
  
  .confirmCartItemsContainer > div {
    display: flex;
    font: 400 1vmax "Roboto";
    align-items: center;
    justify-content: space-between;
    margin: 2vmax 0;
    border-bottom:  1px solid rgba(2, 0, 0, 0.247);
    padding-bottom: 2rem;
  }
  
  .confirmCartItemsContainer > div > img {
    width: 10vmax;
  }
  
  .confirmCartItemsContainer > div > a {
    color: #575757;
    margin: 0 2vmax;
    width: 60%;
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  .confirmCartItemsContainer > div > span {
    width: 30%;
    font: 100 1vmax "Roboto";
    color: #5e5e5e;
  }
  
  .orderSummary {
    padding: 2rem 5vmax ;
  }
  
  .orderSummary > p {
    text-align: center;
    font: 400 1.8vmax "Roboto";
    border-bottom: 1px solid rgba(0, 0, 0, 0.267);
    padding: 1vmax;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }
  
  .orderSummary > div > div {
    display: flex;
    font: 300 1vmax "Roboto";
    justify-content: space-between;
    margin: 2vmax 0;
    align-items: center;
  }
  .orderSummary > div > div > span {
    color: rgba(0, 0, 0, 0.692);
  }
  .orderSummary > div > div > p {
    font: 300 1.4vmax "Roboto";
  }
  .orderSummaryTotal {
    display: flex;
    font: 300 1vmax "Roboto";
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.363);
    padding: 2vmax 0;
    align-items: center;
  }
  .orderSummaryTotal b{
    font: 300 1.4vmax "Roboto";
  }
  .orderSummary > button {
    background-color: tomato;
    color: white;
    width: 100%;
    padding: 1vmax;
    border: none;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
    font: 400 1vmax "Roboto";
  }
  
  .orderSummary > button:hover {
    background-color: rgb(192, 71, 50);
  }
  
  